body{
	background-color: #F5F5F5;
}
nav{
		.navbar-brand>img {
	    width: 35px;
	    margin: -2px 0 0 22%;
	    position: absolute;
		}

		.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		    border-color: #e7e7e7;
		    width: 50%;
		    height: 100%;
		}

		.navbar-toggle {
			float: left !important;
			margin-left: 10px;
		}

		.navbar-collapse.in {
		    overflow-x: auto;
		}
	}
/*SECTION COMPARADOR*/
.comparador-section{
	div{
		div{
			div{
				img{
					width: 100%;
					margin: 5px 0 0 0;
					max-height: 180px !important;
					margin-bottom:13px;
				}
			}
		}
	}
}
.compara-caja{
	background-color:#fff;
	width: 46% !important;
	margin: 2%;
	
}
.comparador-img{
	padding: 15px 7px;
	background-color: #fff;
}
.compaCaja{
		margin: 10px 2px 0 0;
		//background-color: white;
		//border-right: 1px solid gray;
		h5{
			margin: 0px;
			color: black;
			
		}
	}
h5{
	font-weight: bold !important;	
}

.agregarC{
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.linea-titulo{
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #ADADAD;
}	
.comparador-section{
	
	#down{
		margin-bottom: 2%;
	}
		
	p#rigth{
		display: inline-flex;
		padding-left: 2%;
		font-size: 90%;
	}
	button {
	    background-color: #dd0021;
	    color: #fff;
	    width: 100% !important;
	    height: 44px !important;
	    border: none;
	}

	#margendonw{
		margin-bottom: 16%;
		border-bottom: 1px solid gray;
	}
}
footer img{
	width: 35% !important;
	height: auto;
}
.pie-fijo{
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}
.pie-fijo{
-webkit-box-shadow: 0px -4px 28px 0px rgba(184,184,184,1);
-moz-box-shadow: 0px -4px 28px 0px rgba(184,184,184,1);
box-shadow: 0px -4px 28px 0px rgba(184,184,184,1);
}
#ap{
	margin-bottom: 3%;
}
.price-color{
	color:#0072CE;
}



footer{
	background-color: white;
	display: flex;
    justify-content: center;
    align-items: flex-end;
    a.btn.btn-secondary{
   	padding: 0% -5% 0% 0%;
   	margin: 0% 0% 0% 0%;
    }#sofa{
    color: #337ab7;
    }
    img{
    width: 10%;
    height: auto;
    }
    .fb{
    	color: #9a9a9a;
    }#fbp{
    	border-bottom: 3px solid #337ab7;
    }

.fa-living {
    background-image: url('../img/fa-living.svg');
    background-size: cover;
    padding: 0;
	}
}
